<h1>Editing bike entry</h1>

<%= form_for :bike, url: bike_path(@bike), method: :patch do |f| %>

<% if @bike.errors.any? %>
  <div id = "error_explanation">
    <h2>
      <%= pluralize(@bike.errors.count, "error") %> prohibited this article from being saved:
    </h2>
    <ul>
      <% @bike.errors.full_messages.each do |msg|%>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<p>
  <%= f.label :title %><br>
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :text %><br>
  <%= f.text_field :text %>
</p>

<p>
  <%= f.submit %>
</p>

<% end %>

<%= link_to 'Back', bikes_path %>
