<h1>Bikes</h1>
<table>
  <tr>
    <th>Bike</th>
    <th>Status</th>
  </tr>
  <% @bikes.each do |bike| %>
  <tr>
    <td><%= bike.title %></td>
    <td><%= bike.text %></td>
    <td><%= link_to 'Show', bike_path(bike) %></td>
    <td><%= link_to 'Edit', edit_bike_path(bike) %></td>
  </tr>
<% end %>

</table>

<%= link_to "Add New Bike", new_bike_path %>
